<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- /fragments/footer.html -->
<footer th:fragment="footerFragment">
	<div class="center">
		<p>&copy; 2024 Memory Film. All rights reserved.</p>
	</div>
	<div class="right">
		<p>
			Contact us: <a href="mailto:ssogary1030@memoryfilm.com">ssogary1030@memoryfilm.com</a>
		</p>
		<a th:href="@{https://instagram.com}" target="_blank">Instagram</a>
	</div>
</footer>
</html>
